* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background: rgba(68, 42, 85, 0.2);
  background-image: url(../images/giphy.gif);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Orbitron', cursive;
}

header {
  height: 100%;
  width: 100%;
  background: rgba(17, 16, 16, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#controls {
  font-size: 40px;
  color: rgb(235, 203, 116);
  background: none;
  margin-bottom: -12%;
  margin-top: -10%;
}

#wsad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-bottom: -5%;
}

#w {
  margin: 0 80px;
  justify-content: center;
}

#middleControls {
  display: flex;
  justify-content: center;
}

#intructions {
  width: 500px;
  text-align: center;
  color: rgba(249, 209, 214, 1);
  font-size: 18px;
  margin-top: 25px;
}

#start {
  width: 100%;
  padding: 35px;
  padding-top: 10px;
  margin-top: -5%;
  text-align: center;
  border-color: rgb(225, 120, 133);
  background-color: rgb(243, 196, 182);
  color:  rgb(110, 49, 77);
  font-size: 23px;
  font-weight: 600;
  border-width: 5px;
  margin-bottom: 1%;
}

button {
  width: 40px;
  height: 40px;
  margin: 3px 2px;
  border: 4px solid rgb(225, 120, 133);
  color:  rgba(249, 209, 214, 1);
  font-weight: 500;
  background:  rgba(110, 49, 77, 0.7);
  font-size: 15px;
  text-align: center;
}

button:focus {
  outline: 0;
}

main {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  align-items: center;
  display: none;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  opacity: 100%;
  background-position: center;
  font-family: 'Orbitron', cursive;
}

h1 {
  color: rgb(235, 203, 116);
  font-size: 50px;
  margin-top: 1%;
}

section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: -2%;
  margin-bottom: 10px;
}

h2:nth-child(1) {
  margin-right: 100px;
}

h2 {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 300px;
  background: rgba(67, 67, 104, 0.8);
  background-size: 100%;
  margin-top: 1.5%;
  padding: 8px;
  margin-bottom: 8px;
  color:  rgb(231, 143, 153);
}


.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 700px;
  max-width: 800px;
  background: rgba(33, 28, 44, 0.97);
}

.grid div {
  display: flex;
  flex-grow: 1;
  height: 4%;
  width: 32px;
}

.grid div.ship {
  background-image: url(../images/kisspng-spaceshipone-spaceshiptwo-sprite-spacecraft-cartoon-spaceship-5b51439d90f9e8.6174300515320523815938.png);
  background-repeat: no-repeat;
  background-size: 190%;
  background-position: center;
}

.grid div.alien {
  background-image: url(../images/colourednew.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.grid div.bullet {
  background-image: url(../images/yellow.png);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
}

.grid div.bomb {
  background-image: url(../images/bomb.png);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -10px;
}
.grid div.explosion {
  background-image: url(../images/boom.png);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}

#heartOne {
  background-image: url(../images/kisspng-pixel-art-vector-graphics-drawing-image-gradient-pixel-heart-pixelheart-gradientheart-grad-5b75e0f2ef5966.3771842115344519549804.png);
  background-size: 60%;
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
  font-display: none;
  margin-right: -20px;
  margin-left: 20px;
}

#heartTwo {
  background-image: url(../images/kisspng-pixel-art-vector-graphics-drawing-image-gradient-pixel-heart-pixelheart-gradientheart-grad-5b75e0f2ef5966.3771842115344519549804.png);
  background-size: 60%;
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
  font-display: none;
  margin-right: -20px;
}

#heartThree {
  background-image: url(../images/kisspng-pixel-art-vector-graphics-drawing-image-gradient-pixel-heart-pixelheart-gradientheart-grad-5b75e0f2ef5966.3771842115344519549804.png);
  background-size: 60%;
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
  font-display: none;
}

#score {
  margin-left: -120px;
}

.hover {
  width: 40%;
  padding: 10px 0 45px 0;
  font-weight: 800;
}

.startHover {
  padding: 10px 30px 60px 30px;
  width: 400px;
  font-size: 40px;
  background-color: rgba(247, 209, 214, 1);
}


.gameOver {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 700px;
  height: 550px;
  margin-top: 80px;
  position: absolute;
  background:  rgba(212, 165, 172, 0.89);
  border: 10px solid rgb(110, 49, 77);
  font-size: 50px;
  text-align: center;
  color: rgb(65, 29, 46);
}

h3 {
  font-size: 80px;
  margin-bottom: 20px;
}

#restart {
  width: 300px;
  padding: 20px;
  text-align: center;
  border:  4px solid rgb(110, 49, 77);
  font-size: 20px;
  line-height: 3%;
}

#countDown {
  display: none;
  font-size: 90px;
  margin-top: 0px;
}

#wave {
  display: none;
}

#spacebar {
  width: 260px;
  margin-top: 10px;
  text-align: center;
  padding: 0;
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* sweep left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(243, 196, 182);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: rgb(110, 49, 77);
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hvr-sweep-to-leftPress, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: rgb(110, 49, 77);
}
.hvr-sweep-to-leftPress:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* sweep right */
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(243, 196, 182);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: rgb(110, 49, 77);
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hvr-sweep-to-rightPress, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: rgb(110, 49, 77);
}
.hvr-sweep-to-rightPress:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* radial out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(243, 196, 182);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: rgb(110, 49, 77);
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.hvr-radial-outPress, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: rgb(110, 49, 77);
}
.hvr-radial-outPress:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}


/* ANIMISTA */
/* ----------------------------------------------
 * Generated by Animista on 2019-12-20 12:23:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-rotate-hor-t-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-rotate-hor-t-fwd {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
            transform: translateY(0) translateZ(0) rotateX(0deg);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  100% {
    -webkit-transform: translateY(-150px) translateZ(130px) rotateX(-90deg);
            transform: translateY(-150px) translateZ(130px) rotateX(-90deg);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
}
@keyframes slide-rotate-hor-t-fwd {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
            transform: translateY(0) translateZ(0) rotateX(0deg);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  100% {
    -webkit-transform: translateY(-150px) translateZ(130px) rotateX(-90deg);
            transform: translateY(-150px) translateZ(130px) rotateX(-90deg);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
}

.slide-rotate-hor-t-fwd {
	-webkit-animation: slide-rotate-hor-t-fwd 0.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.2s reverse both;
	        animation: slide-rotate-hor-t-fwd 0.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.2s reverse both;
}
.slide-rotate-hor-t-fwd-controls {
	-webkit-animation: slide-rotate-hor-t-fwd 0.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.9s reverse both;
	        animation: slide-rotate-hor-t-fwd 0.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.9s reverse both;
}
.slide-rotate-hor-t-fwd-buttons {
	-webkit-animation: slide-rotate-hor-t-fwd 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1.4s reverse both;
	        animation: slide-rotate-hor-t-fwd 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1.4s reverse both;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-12-20 12:36:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-rotate-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(150px) rotateX(90deg);
            transform: translateY(150px) rotateX(90deg);
  }
}
@keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(150px) rotateX(90deg);
            transform: translateY(150px) rotateX(90deg);
  }
}

.slide-rotate-hor-bottom {
	-webkit-animation: slide-rotate-hor-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s reverse both;
          animation: slide-rotate-hor-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s reverse both;
  margin-top: -5%;
}